.lab {
	font-family: "Lucida Grande", Tahoma;
	font-size: 13px;
	font-style: normal;
}
.labjust {
	font-family: "Lucida Grande", Tahoma;
	font-size: 13px;
	font-style: normal;
	text-align: justify;
}
.labz a {
	color: #090;
}
.labp a {
	color: #B00;
}
.labgray {
	font-family: "Lucida Grande", Tahoma;
	font-size: 13px;
	font-style: normal;
	color: #fff;
}
.cim {
	font-family: "Lucida Grande", Tahoma;
	font-size: 14px;
	font-style: normal;
	text-align: center;
}
.lab10 {
	font-family: "Lucida Grande", Tahoma;
	font-size: 10px;
	font-style: normal;
}
.lab11 {
	font-family: "Lucida Grande", Tahoma;
	font-size: 11px;
	font-style: normal;
}
.lab12 {
	font-family: "Lucida Grande", Tahoma;
	font-size: 12px;
	font-style: normal;
}
.lab13 {
	font-family: "Lucida Grande", Tahoma;
	font-size: 13px;
	font-style: normal;
}
.lab14 {
	font-family: "Lucida Grande", Tahoma;
	font-size: 14px;
	font-style: normal;
}
.lab16 {
	font-family: "Lucida Grande", Tahoma;
	font-size: 16px;
	font-style: normal;
}
.lab17 {
	font-family: "Lucida Grande", Tahoma;
	font-size: 17px;
	font-style: normal;
}
.lab18 {
	font-family: "Lucida Grande", Tahoma;
	font-size: 18px;
	font-style: normal;
}
.lab20 {
	font-family: "Lucida Grande", Tahoma;
	font-size: 20px;
	font-style: normal;
}